{% extends 'base.html.twig' %}

{% block body %}
    <section class="p-4">
        <div class="container">
            <div class="jumbotron">
                <div class="m-4">
                    <h3> Einstellungen bearbeiten</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="m-2 text-center">
                            <h4>Neuen Raum anlegen</h4>
                        </div>
                        <form method="post" action="createRoom">
                            <div class="input-group mb-2 input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Raumname:</span>
                                </div>
                                <input type="text" class="form-control" name="newRoomName" placeholder="Neuer Raumname">
                            </div>
                            <div class="input-group mb-3 input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Privater Zugriff:</span>
                                    </div>
                                     <input type="checkbox" data-toggle="toggle" data-on="Öffentlich" data-off="Privat" data-onstyle="success" data-offstyle="danger" name="newRoomisPrivate" data-width="160">
                            </div>
                            <button type="submit" class="btn btn-info m-4">
                                Neuen Raum anlegen
                            </button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="m-2 text-center">
                            <h4>Client-Raum zuordnen</h4>
                        </div>
                        <form method="post" action="clientRoom">
                            {% for client in clients %}
                                {% if client.owningUserIk == userNo %}
                                <div class="form-inline">
                                        <label for="ownRooms" class="col-4 col-form-label">{{client.macAdress}}</label>
                                        <select class="form-control container" name="ownRooms.{{client.intKey}}">
                                            {% for room in rooms %}
                                                <option value="{{room.intKey}}" {% if room.intKey == client.roomIk %} selected {% endif %}>{{room.roomName}}</option>
                                            {% endfor %}
                                        </select>
                                </div>
                                 <input type="hidden" name="client" value="{{client.macAdress}}">
                                {% endif %}
                            {% endfor %}
                            <button type="submit" class="btn btn-info m-4">
                                Zuordnungen speichern
                            </button>
                        </form>
                    </div>
                </div>
                <form method="post" action="saveChanges">
                    <div class="row" >
                        <div class="col-md-6">
                            <div class="m-2 text-center">
                                <h4>Räume</h4>
                            </div>
                            {% for room in rooms %}
                                <div class="input-group mb-3 input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Name:</span>
                                    </div>
                                    <input type="text" class="form-control" name="room.{{room.intKey}}" placeholder="{{room.roomName}}">
                                </div>
                                <div class="input-group mb-3 input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Öffentlicher Zugriff:</span>
                                    </div>
                                     <input type="checkbox" {% if room.isPrivate == 0 %} checked {% endif %} data-toggle="toggle" data-on="Öffentlich" data-off="Privat" data-onstyle="success" data-offstyle="danger" name="room.{{room.intKey}}.isPrivate" data-width="160">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-6">
                           <div class="m-2 text-center">
                                <h4>Clients anzeigen</h4>
                            </div>
                            {% for client in clients %}
                                <div class="input-group mb-3 input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{client.macAdress}}</span>
                                    </div>
                                     <input type="checkbox" {% if client.intKey in userClientsValues %} checked {% endif %}  data-toggle="toggle" data-on="Anzeigen" data-off="Ausblenden" data-onstyle="success" data-offstyle="danger" name="{{client.intKey}}" data-width="180">
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-info m-4">
                            Einstellungen speichern
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}